.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs/_build
/references
/pysocketstream_*
/pysocketstream-*
/pysocketstream.egg*
/__pycache__
/.dbeaver
/pysocketstream/__pycache__
*.pyc
/examples/temp*.py
/.pytest_cache/
pylint_report.txt
